@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#ffffff] text-[#1a202c] tracking-wide
  }

  h1,h2,h3,h4,h5,h5 {
    @apply font-bold 
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

  li{
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#789dff] text-white
  }

  .header-projects {
    background-color: #fb408f;
    background-image: linear-gradient(45deg,#fb408f,#fae937);
  }
  .header-about-me{
    background-color: #fb408f;
    background-image: linear-gradient(45deg,#3498db,#9b59b6);
  }
  .header-skills {
    background-color: #fb408f;
    background-image: linear-gradient(45deg,#f1c40f,#e67e22);
  }
  .w-max {
    width: -webkit-max-content;
    width: max-content;
}
.subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
.text-secondary {
  --tw-text-opacity: 1;
  color: hsla(var(--s)/var(--tw-text-opacity));
}
.black-background{
  @apply bg-[#18181b] text-[#ecf0f1] tracking-wide
}



}